* {
	margin: 0px;
}

.global_tab {
	width:100%;
	height: 100%;
	position:absolute;
	border-collapse: collapse;
	/* table-layout:fixed; */
}

td {
	border-style: solid;
	border-width: 1px;			
}

.tab1 {
	background-color: cornflowerblue;
}

.tab2 {
	background-color:darkseagreen;

}
